* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: rgb(14 49 76)!important;
    font-family: 'Josefin Sans', sans-serif!important;
    font-family: 'Poppins', sans-serif!important;
}

.logo-png{
	width:45px;
}

.pad-10,header,
.navbar-nav,
p,
.myslider_content,
a,
.my_service,
.my_service>i {
    padding: 10px!important;
}

p {
    font-size: 17px;
    line-height: 30px;
	
}

.my_navigation>ul>li>a:hover {
    color: ;
    text-decoration: none;
    background-color: transparent;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 40px!important;
}

header {
    
    position: sticky;
    top: 0px;
    z-index: 99999;
    backdrop-filter: blur(13px);
	box-shadow: 0px 6px 9px 0px #8080800d;
    background: rgb(255 255 255);
}

section {
    background-image: url(../images/banner-bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    padding: 70px 0px;
}

.my_btn {
    background: rgb(56 121 255);
    padding: 10px 32px!important;
    border-radius: 5px;
    color: rgb(255 255 255);
    font-size: 20px;
    border: none;
    box-shadow: 0px 12px 48px -2px #3879ff42;
}

span {
    color: rgb(56 121 255);
}

.my_navigation>ul>li>a,.contact_content>ul>li>a,.contact_content>ul>ul>li>a{
    font-size: 17px!important;
    color: rgb(14 49 76)!important;
   
}


/* Top Slider */

.btn-1:before {
    top: -60px;
    left: 0;
}

.my_service {
   box-shadow: 2px 13px 22px 23px #8080800a;
    border-radius: 5px;
    margin: 10px 0px;
	
}
.my_service:hover{
	
	background: linear-gradient(135deg, rgb(35 189 184) 0%, rgb(56 121 255) 100%);
	color:white;
	transform: translateY(-7px);
	transition:0.7s;
	box-shadow: 0px 12px 48px -2px #3879ff42;

}
.my_service:hover .icon {
    transform: rotate( 360deg);
    transition: 0.4s;
    border-radius: 10% 40% 70%;
    color: rgb(56 121 255);
    background: rgb(255 255 255);
}
.menu_btn{
	display:none!important;
}
@media(max-width:1200px) {
    .my_navigation {
        display: none;
		
    }
	.menu_btn{
	display:block!important;
    }
    .col-md-3 {
        width: 50%;
        float: left;
    }
    .my_service {
        box-shadow: 2px 13px 22px 23px #80808014;
        border-radius: 10%;
        margin: 10px 0px;
        height: 161px;
    }
    section {
        padding: 0px;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 25px!important;
    }
    .logo {
        font-size: 27px!important;
    }
	.myslider_content{
		text-align:center;
	}
	.menu_btn{
		position: absolute;
		top: -47px;
		right: 24px;
	}
}